@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    --primary-blue: #2C92F3;
    --hovered-blue: #2277c7;
    --secondary-blue: #19558D;
    --small-text: #53ABFF;
    --primary-gray: #D9D9D9;
    --secondary-gray: #bebebe;
    --shadow: rgba(0,0,0,0.5);
}