* {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

button {
    box-sizing: border-box;
    padding: 0px; /* lub inne wartości */
}

body {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.home-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
    height: 80vh;
    width: 95vw;
    background-color: #E5F3FF;
    box-shadow: 0px calc(0.104vw) calc(0.781vw) 0px rgba(0, 0, 0, 0.25);
}

.home-center-container-message {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    height: 90%;
    width: 50%;
    background-color: white;
    box-shadow: 0px calc(0.104vw) calc(0.781vw) 0px rgba(0, 0, 0, 0.25);
}

.home-center-container-header {
    align-self: baseline;
    font-size: 1.8vw;
    color: white;
    background-color: var(--primary-blue);
    padding: 0.26vw 1.8vw 0.26vw 1.8vw;
    border-radius: 0px 0.52vw 0.52vw 0px;
    width: fit-content;
    box-shadow: 0px calc(0.104vw) calc(0.781vw) 0px rgba(0, 0, 0, 0.25);
    text-shadow: 0px calc(0.104vw) calc(0.208vw) var(--shadow);
}

.home-center-container-form {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 5%;
    flex-direction: column;
    align-items: center;
}

.home-center-container-form-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 10%;
    height: fit-content;
    width: 95%;
    box-shadow: 0px calc(0.208vw) calc(0.208vw) 0px rgba(0, 0, 0, 0.25) inset;
    background-color: var(--primary-gray);
}

.home-center-container-form-input label{
    color: var(--shadow);
    margin-left: 2%;
    font-size: 1.25vw;
}

.home-center-container-form-input input{
    margin-left: 1%;
    padding-left: 1%;
    border: none;
    background-color: transparent;
    font-size: 1.25vw;
    height: 100%;
    width: 100%;
}

.home-center-container-form-input textarea {
    padding: 0.52vw;
    font-size: 1.25vw;
    border: none;
    background: transparent;
    resize: none;
    width: 100%;
    height: 50vh;
    max-width: 100%;
    max-height: 40vh;
}

.home-center-container-form-submit {
    position: absolute;
    color: white;
    align-self: end;
    margin-right: 2.5%;
    font-size: 1.25vw;
    padding: 1% 3% 1% 3%;
    border: none;
    bottom: 2.5%;
    background-color: var(--primary-blue);
    box-shadow: 0px calc(0.208vw) calc(0.208vw) 0px rgba(0, 0, 0, 0.25);
    text-shadow: 0px calc(0.104vw) calc(0.208vw) var(--shadow);
}

.home-center-container-form-submit:hover {
    border: none;
    background-color: var(--hovered-blue);
    transition: background-color 0.3s;
}

.home-center-container-form-msgtype {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    background-color: var(--primary-gray);
    color: var(--shadow);
    font-size: 1.25vw;
    left: 2.5%;
    bottom: 2.5%;
    width: fit-content;
    padding: 1% 3% 1% 3%;
    box-shadow: 0px calc(0.208vw) calc(0.208vw) 0px rgba(0, 0, 0, 0.25);
}

.home-center-container-form-msgtype input {
    height: 2vw;
    width: 2vw;
    margin-left: 0.7vw;
    cursor: pointer;
    width: 1.25vw;
    height: 1.25vw;
    box-shadow: 0px calc(0.208vw) calc(0.208vw) 0px rgba(0, 0, 0, 0.25) inset;
}

.home-center-container-receivers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
    height: 90%;
    width: 30%;
    background-color: white;
    box-shadow: 0px calc(0.104vw) calc(0.781vw) 0px rgba(0, 0, 0, 0.25);
}

.home-center-container-receivers-search {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 13%;
    width: 95%;
    box-shadow: 0px calc(0.208vw) calc(0.208vw) 0px rgba(0, 0, 0, 0.25) inset;
    background-color: var(--primary-gray);
}

.home-center-container-receivers-search label{
    color: var(--shadow);
    margin-left: 2%;
    font-size: 1.25vw;
}

.home-center-container-receivers-search input{
    margin-left: 1%;
    padding-left: 1%;
    border: none;
    background-color: transparent;
    font-size: 1.25vw;
    height: 100%;
    width: 100%;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 770%;
    white-space: nowrap;
    overflow: auto;
    background-color: var(--primary-gray);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content::-webkit-scrollbar {
    width: 0;
}

.dropdown-content button {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding-left: 2%;
    color: white;
    border: none;
    background-color: var(--hovered-blue);
    text-decoration: none;
    width: 100%;
    height: 2vw;
    display: block;
    font-size: 1.25vw;
    margin-bottom: 2%;
}

.dropdown-content button:hover {
    cursor: pointer;
    background-color: var(--secondary-blue);
}

/*.home-center-container-receivers-search:hover .dropdown-content {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

.home-center-container-receivers-list {
    display: flex;
    flex-direction: column;
    gap: 1%;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5%;
    width: 95%;
    height: 100%;
}

.home-center-container-receivers-list-record {
    padding: 0px 5% 0px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 15%;
    background-color: var(--primary-blue);
    border-radius: 0.52vw;
    color: white;
    font-size: 1.5vw;
}

.home-center-container-receivers-list-record button {
    font-size: 1.5vw;
    color: white;
    background-color: transparent;
    border: none;
}

.home-center-container-receivers-list-record button:hover {
    color: var(--secondary-gray);
    transition: color 0.3s;
    cursor: pointer;
}