* {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    box-sizing: border-box;
    padding: 0px; /* lub inne wartości */
}

body {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.home-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    height: 80vh;
    width: 95vw;
    background-color: #E5F3FF;
    box-shadow: 0px calc(0.104vw) calc(0.781vw) 0px rgba(0, 0, 0, 0.25);
}

.home-center-message-box {
    width: 95%;
    height: 90%;
    background-color: white;
    box-shadow: 0px calc(0.104vw) calc(0.781vw) 0px rgba(0, 0, 0, 0.25);
}

.home-center-message-box-headers {
    display: flex;
    justify-content: space-between;
}

.home-center-message-box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1%;
    padding: 0% 1.5% 0% 1.5%;
    height: 10%;
    width: fit-content;
    background-color: var(--primary-blue);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    text-shadow: 0px calc(0.104vw) calc(0.208vw) var(--shadow);
    border-radius: 0px 0.5vw 0.5vw 0px;
}

.home-center-message-box-title h1 {
    color: white;
    font-size: 1vw;
}

.home-center-message-box-date {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1%;
    padding: 0% 1.5% 0% 1.5%;
    height: 10%;
    width: fit-content;
    color: white;
    font-size: 1vw;
    background-color: var(--primary-blue);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    text-shadow: 0px calc(0.104vw) calc(0.208vw) var(--shadow);
    border-radius: 0.5vw 0px 0px 0.5vw;
}

.home-center-message-box-date-sender {
    color: var(--primary-gray);
    text-shadow: 0px calc(0.104vw) calc(0.208vw) var(--shadow);
}

.home-center-message-box-message {
    margin-top: 2.5%;
    margin-left: 2%;
    font-size: 1vw;
}