<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/utils.css" />
    <link rel="stylesheet" href="css/messages.css" />
</head>
    <body>
        <div th:replace="topBar.html :: div"></div>
        <div id="messagesData" data-messages="${messages}"></div>
        <div class="home-center">
            <div class="home-center-container">
                <div class="home-center-categories">
                    <div id="filter-all" onclick="filterMessages(event, 'all')" class="home-center-category category-pressed">
                        All
                    </div>
                    <div id="filter-important" onclick="filterMessages(event, 'important')"
                         class="home-center-category category-normal">
                        Important
                    </div>
                    <div id="filter-unreaden" onclick="filterMessages(event, 'unreaden')" class="home-center-category category-normal">
                        Unreaden
                    </div>
                    <div id="filter-readen" onclick="filterMessages(event, 'readen')" class="home-center-category category-normal">
                        Readen
                    </div>
                    <div id="filter-archived" onclick="filterMessages(event, 'archived')" class="home-center-category category-normal">
                        Archived
                    </div>
                    <div id="filter-sent" onclick="filterMessages(event, 'sent')" class="home-center-category category-normal">
                        Sent
                    </div>
                </div>
                <div class="home-center-horizontal-elements">
                    <div class="home-center-horizontal-actions">
                        <i class="fa-solid fa-square-check"></i>
                        <i class="fa-solid fa-archive"></i>
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                    <div class="home-center-horizontal-messages">
                        <div id="messageHolder" class="home-center-horizontal-messages-list"></div>
                        <div class="home-center-horizontal-messages-page">
                            <button id="changePageLeft" class="ratio-onebyone">
                                <i class="fa-solid fa-arrow-left"></i>
                            </button>
                            <input id="pageInput" class="ratio-onebyone" type="number" min="1" value="1"/>
                            <button id="changePageRight" class="ratio-onebyone">
                                <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                        <button class="home-center-horizontal-messages-reply ratio-onebyone">
                            <i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="js/messages.js"></script>
    <script src="https://kit.fontawesome.com/69eded866d.js" crossorigin="anonymous"></script>
</html>