<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/messagesread.css" />
  </head>
  <body>
    <div th:replace="topBar.html :: div"></div>
    <div class="home-center">
      <div class="home-center-message-box">
        <div class="home-center-message-box-headers">
          <div class="home-center-message-box-title">
            <h1 th:text="${message.title}"></h1>
          </div>
          <div class="home-center-message-box-date">
            <div class="home-center-message-box-date-sender">
              <span th:text="'Sent by ' + ${#strings.concat(message.sender.firstname, ' ', message.sender.lastname)}"></span>
            </div>
            <div>
              <span th:text="${#temporals.format(message.date, 'yyyy-MM-dd')}"></span>
              <span th:text="${#temporals.format(message.date, 'HH:mm')}"></span>
            </div>
          </div>
        </div>
        <div class="home-center-message-box-message">
          <pre th:utext="${message.description}"></pre>
        </div>
      </div>
    </div>
    <script src="https://kit.fontawesome.com/69eded866d.js" crossorigin="anonymous"></script>
  </body>
</html>